.bodypagprincipal {
    background-color: aqua;
    font-family: Arial, sans-serif;
}

.titulo-futurista {
    font-family: 'Orbitron', 'Arial', monospace;
    font-size: 2.7rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: #00ffff;
    background: linear-gradient(45deg, #0104a5, #4747ff, #0104a5);
    padding: 25px 40px;
    text-align: center;
    border-radius: 15px;
    text-shadow: 0 0 15px #00ffff;
    border: 1px solid #00ffff;
    text-transform: uppercase;
    text-align: center;
}

.boton-futurista {
    background: linear-gradient(45deg, #0104a5, #4747ff, #0104a5);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0 0 15px #00f0ff;
}

.boton-futurista:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px #000000;
}

.section {
    background-color: #0a0a23;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    display: flex;
    gap: 40px;
}

.cuadro {
    background: linear-gradient(45deg, #0104a5, #4747ff, #0104a5);
    color: #ffffff;
    padding: 30px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 0 20px #00f0ff;
    transition: 0.4s;
}

.cuadro:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px #000000;
}

.cuadro h2 {
    color: #00f0ff;
    margin-bottom: 15px;
}